<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>functionIdentifier</key>
	<string>public.submenu</string>
	<key>settings</key>
	<dict>
		<key>content</key>
		<array>
			<dict>
				<key>functionIdentifier</key>
				<string>public.test.http</string>
				<key>settings</key>
				<dict>
					<key>URL</key>
					<string>https://raw.githubusercontent.com/ygini/Hello-IT/975ff834701153c3a4cdf91991a9860334645eb9/staticfiles/internet_test.txt</string>
					<key>mode</key>
					<string>md5</string>
					<key>originalString</key>
					<string>ccf41dc8262810b99142b5627d27c25e</string>
					<key>ignoreSystemState</key>
					<true/>
					<key>repeat</key>
					<integer>60</integer>
					<key>title</key>
					<string>Internet</string>
				</dict>
			</dict>
			<dict>
				<key>functionIdentifier</key>
				<string>public.separator</string>
			</dict>
			<dict>
				<key>functionIdentifier</key>
				<string>public.script.item</string>
				<key>settings</key>
				<dict>
					<key>script</key>
						<string>com.github.ygini.hello-it.hide-desktop.sh</string>
						<key>title</key>
						<dict>
							<key>en</key>
							<string>Presentation Mode</string>
							<key>fr</key>
							<string>Mode présentateur</string>				
						</dict>
					</dict>
				</dict>
			<dict>
				<key>functionIdentifier</key>
				<string>public.separator</string>
			</dict>
			<dict>
				<key>functionIdentifier</key>
				<string>public.separator</string>
			</dict>
			<dict>
				<key>functionIdentifier</key>
				<string>public.script.item</string>
				<key>settings</key>
				<dict>
					<key>script</key>
					<string>com.github.ygini.hello-it.ip.sh</string>
					<key>repeat</key>
					<integer>60</integer>
				</dict>
			</dict>
			<dict>
				<key>functionIdentifier</key>
				<string>public.script.item</string>
				<key>settings</key>
				<dict>
					<key>script</key>
					<string>com.github.ygini.hello-it.hostname.sh</string>
					<key>repeat</key>
					<integer>60</integer>
					<key>args</key>
					<dict>
						<key>format</key>
						<string>%C</string>
					</dict>
				</dict>
			</dict>
			<dict>
				<key>functionIdentifier</key>
				<string>public.separator</string>
			</dict>
			<dict>
				<key>functionIdentifier</key>
				<string>public.quit</string>
			</dict>
		</array>
	</dict>
</dict>
</plist>
